<div class="row">
    <div class="col-md-offset-4 col-md-4">
        <h1>Create Your Survey!</h1>
        <form>
            <fieldset class="form-group">
                <label for="questionTitle">Please enter your awesome survey question!</label>
                <input type="text" class="form-control" 
                [(ngModel)]="surveyQuestion.data" 
                name="question"
                placeholder="Enter your survey question"
                id="question"
                required autocomplete="off">
              </fieldset>
                <fieldset class="form-group text-right">
                      <input type="button" class="btn btn-success" value="finished!" (click)="onQuestionSubmit()">
                      <a routerLink="/survey">
                        <input type="button" class="btn btn-warning" value="Cancel">
                      </a>
                </fieldset>
          </form>
        </div>
      </div>
   