<div class="container">
    <div class="column">
        <div class="col-md-offset-1 col-md-8">
            <form>
                <fieldset class="form-group">
                  <h1>{{questionObj.data}}</h1>
                    <label for="questionTitle">{{questionObj.data}}</label>
                    <input type="text" class="form-control" 
                    [(ngModel)]="answerObj.data" 
                    name="answer"
                    placeholder="Enter your choice of answer"
                    id="answer"
                    required autocomplete="off">
                  </fieldset>
                    <fieldset class="form-group text-right">
                          <input type="button" class="btn btn-success" value="Submit!" (click)="onAnswerSubmit()">
                          <a routerLink="/survey">
                            <input type="button" class="btn btn-warning" value="Cancel">
                          </a>
                    </fieldset>
              </form>
            </div>
          </div>
        </div>
       