<div class="container">
<div class="row">
  <div class="col-md-offset-1 col-md-8">
      <h1>Edit Your Survey Question!</h1>
      <form>
          <fieldset class="form-group">
              <input type="text" class="form-control" 
              [(ngModel)]="questionObj.data" 
              name="question"
              id="question"
              required autocomplete="off">
            </fieldset>
              <fieldset class="form-group text-right">
                    <input type="button" class="btn btn-success" value="Edit!" (click)="onQuestionSubmit()">
                    <a routerLink="/survey">
                      <input type="button" class="btn btn-warning" value="Cancel">
                    </a>
              </fieldset>
        </form>
      </div>
    </div>
  </div>