<div class="container">
    <div class="column" style="margin-top: 20px">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                          <img src="/assets/images/home.png" class="d-block w-25" alt="Take our survey">
                          <h4>Awesome Survey is platform where you can create your survey question and ask your friends to give the answer.</h4>
                      </div>
                  </div>
                  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" style="margin-top: 100px">
                        <div class="carousel-inner">
                                <div class="carousel-item active">
                                        <img src="/assets/images/registration.jpg" class="d-block w-25" alt="Registration" class="float-right">
                                        <h4>You can register yourself and create your own survey and it will provide some other special features that i only available for the registered users. 
                                                <button type="button" class="btn btn-info"> <i class="far fa-address-card"></i> Register Yourself !</button>
                                        </h4>
                                      </div>
                        </div>
                      </div>
    </div>
</div>