<h2>Welcome to Awesome Surveys!</h2>
<div class="col-md-offset-4 col-md-4">
    <h1>
        Would you like to Create a Survey?
        <a router-link="/create" href="/create">
            <input type="button" class="btn btn-success" value="login here!">
        </a>
    </h1>
</div>

<div class="col-md-offset-4 col-md-4">
        <h1>
            Complete a Survey?
            <a router-link="/questions" href="/questions">
                <input type="button" class="btn btn-success" value="Questions here!">
            </a>
        </h1>
    </div>

    <div class="col-md-offset-4 col-md-4">
            <h1>
                or would you like to view Survey results?
                <a router-link="/survey" href="/survey">
                    <input type="button" class="btn btn-success" value="See completed surveys here!">
                </a>
            </h1>
        </div>